
@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<div class="accordion">
    <div class="col-1">
        @Html.ActionLink("Movies", "Index", "Movie")
        @Html.ActionLink("Awards", "Index", "Award")
        @Html.ActionLink("Studios", "Index", "Studio")
        @Html.ActionLink("Jobs", "Index", "Job")
        @Html.ActionLink("Persons", "Index", "Person")
        @Html.ActionLink("Contact Info for Persons", "Index", "ContactInfo")
    </div>
</div>
