
@{
    ViewBag.Title = "People";
}

<h2>@ViewBag.Title</h2>

@foreach (var person in ViewBag.People)
{
    <div class="panel-body">
        @Html.Label("Person", "Person:")
        <br />
        <p>@person.Name</p>

        @using (Html.BeginForm(actionName: "Details", controllerName: "Person", method: FormMethod.Get,
                routeValues: new { id = person.PersonId }))
        {
            <button class="btn btn-primary">Details</button>
        }
    </div>
}

@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add person", "New")
    <br />
}
@Html.ActionLink("Back to start", "Index", "Start")
