@model Proiect_DAW.Models.PersonContactViewModel

@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "ContactInfo", method: FormMethod.Post))
{
    @Html.Label("Name", "Name:")
    <br />
    @Html.TextBoxFor(p => p.Name, null, new { placeholder = "Type in the person's name", @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(p => p.ContactPhone, "Phone number:")
    <br />
    @Html.TextBoxFor(p => p.ContactPhone, null, new { placeholder = "Type in the phone number", @class = "form-control" })
    @Html.ValidationMessageFor(p => p.ContactPhone, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(p => p.ContactEmail, "Email address:")
    <br />
    @Html.TextBoxFor(p => p.ContactEmail, null, new { placeholder = "Type in the email address", @class = "form-control" })
    @Html.ValidationMessageFor(p => p.ContactEmail, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Birthdate", "Birthdate:")
    <br />
    @Html.TextBoxFor(p => p.Birthday, "{0:dd/MM/yyyy}", new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Birthday, "", new { @class = "text-danger" })
    <br />

    <button class="btn btn-primary" type="submit">Create</button>
}

@Html.ActionLink("Back", "Index")

