@model Proiect_DAW.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Label("Type", "Type:")
        <br />
        @Html.DisplayFor(j => j.Type)
        <br />
        <br />

        @Html.Label("Description", "Description: ")
        @Html.DisplayFor(j => j.Description)
    </div>
</div>
<br />

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "Edit", controllerName: "Job", method: FormMethod.Get,
        routeValues: new { id = Model.JobId }))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
    }
    <br />

    using (Html.BeginForm(actionName: "Delete", controllerName: "Job", method: FormMethod.Post,
            routeValues: new { id = Model.JobId }))
    {
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
    }
    <br />
}

@Html.ActionLink("Go back to the list of jobs.", "Index")

